################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WiredBrain/FileContentIndex/50483987-7961-4e16-a0d7-69c7a6c2914e.vsidx
/.vs/WiredBrain/FileContentIndex/740288a3-65ae-48dc-92bc-bb6bb7e1ea6e.vsidx
/.vs/WiredBrain/FileContentIndex/ae1f8088-743c-4927-a474-7c099c0ce0c2.vsidx
/.vs/WiredBrain/FileContentIndex/c2f073f6-7b21-4d84-bc71-ec124fba9681.vsidx
/.vs/WiredBrain/FileContentIndex/ceb77722-25cc-46f9-86ec-a3e243d9659c.vsidx
/.vs/WiredBrain/CopilotIndices/17.14.1681.23550/CodeChunks.db
/.vs/WiredBrain/CopilotIndices/17.14.1681.23550/CodeChunks.db-shm
/.vs/WiredBrain/CopilotIndices/17.14.1681.23550/CodeChunks.db-wal
/.vs/WiredBrain/CopilotIndices/17.14.1681.23550/SemanticSymbols.db
/.vs/WiredBrain/CopilotIndices/17.14.1681.23550/SemanticSymbols.db-shm
/.vs/WiredBrain/CopilotIndices/17.14.1681.23550/SemanticSymbols.db-wal
/.vs/WiredBrain/v17/.futdcache.v2
/.vs/WiredBrain/v17/.suo
/.vs/WiredBrain/v17/DocumentLayout.backup.json
/.vs/WiredBrain/v17/DocumentLayout.json
/WiredBrain.Tests/obj/Debug/net8.0/refint
*.dll
/WiredBrain.Tests/obj/Debug/net8.0
/WiredBrain.Tests/bin/Debug/net8.0
/.vs/WiredBrain/copilot-chat/95392e2f/sessions
/.vs/WiredBrain/DesignTimeBuild
/.vs/WiredBrain/FileContentIndex
/WiredBrain.API/bin/Debug/net8.0
/WiredBrain.API/obj/Debug/net8.0
/WiredBrain.API/obj
/WiredBrain.Tests/obj
/.vs/WiredBrain/v17/TestStore/0
/.github
/.vs/ProjectEvaluation
